html {
	width: 100%;
	height: 100%;
	min-height: 500px;
}

body {
	width: 100%;
	height: 100%;
	min-height: 500px;
}

#auth,
#register,
#routes {
	width: 100%;
	min-height: 100%;
	height: auto;
	display: flex;
	background-color: #f9f9f9;
}

h1 {
	color: #78ab46;
}

.error-message {
	color: #a94442;
}

.error-message:first-letter {
	text-transform: capitalize;
}

.air-card {
	margin: auto;
	max-width: 300px;
	min-width: 300px;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
}

.route-table{
	margin: auto;
	max-width: 700px;
	min-width: 500px;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
}

td, th {
	display: table-cell;
	vertical-align: inherit !important;
}

.no-bottom {
	margin-bottom: 0 !important;
}

#ajaxContent {
	height: 100%;
}