<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Routes in real time</title>

    <!-- Leaflet -->
    <link rel="stylesheet" th:href="@{/leaflet/leaflet.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>


<body>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script type="text/javascript" th:src="@{/leaflet/leaflet.js}"></script>

<!--Moving marker-->
<!--https://github.com/ewoken/Leaflet.MovingMarker-->
<script type="text/javascript" th:src="@{/js/MovingMarker.js}"></script>

<div id="mapid"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var authorized = /*[[${authorized}]]*/ 'false';
    console.log(authorized);
    /*]]>*/


    var map = L.map('mapid').setView([53.716736, 23.840114], 14);

    if (authorized) {
        loginLink = '<a href="/manage">Manage</a>';
    } else {
        loginLink = '<a href="/login">Login</a>';
    }

    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: loginLink,
            maxZoom: 18
        }).addTo(map);


    var marker = L.marker([53.716736, 23.840114]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

    var circle = L.circle([53.73, 23.85], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500
    }).addTo(map);

    var parisKievLL = [
        [53.716736, 23.840114],
        [53.73, 23.85]
    ];

    var marker1 = L.Marker.movingMarker(parisKievLL, [10000]).addTo(map);
    L.polyline(parisKievLL).addTo(map);
    marker1.once('click', function () {
        marker1.start();
        marker1.closePopup();
        marker1.unbindPopup();
        marker1.on('click', function () {
            if (marker1.isRunning()) {
                marker1.pause();
            } else {
                marker1.start();
            }
        });
        setTimeout(function () {
            marker1.bindPopup('<b>Click me to pause !</b>').openPopup();
        }, 2000);
    });

    marker1.bindPopup('<b>Click me to start !</b>', {closeOnClick: false});
    marker1.openPopup();


</script>
</body>
</html>