<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajax Time</title>
</head>
<body>
<section id="routes">
    <div class="route-table">
        <div class="text-center text-uppercase form-group">TIME CONTROL PAGE</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="width: 50%">Stop number</th>
                <th scope="col" style="width: 50%">Departure Time</th>
            </tr>
            </thead>
            <tbody id="stops">
            <!--AutoFilling section!-->
            </tbody>
        </table>
    </div>
</section>
<script th:inline="javascript">
    // we choose time here
    // calls send_post()

    // let stop_number = returnRoute.length;
    // console.log(returnRoute);
    let stop_number = 0;
    for (let s = 0; s < returnRoute.length; s++) {
        if (returnRoute[s].stop === true) {
            stop_number++;
        }
    }
    // console.log(stop_number);

    for (let i = 0; i < stop_number; i++) {
        let stops =
            '<tr>' +
            '<td>' + i + '</td>' +
            '<td>' +
            '<div class="md-form">' +
            '<input placeholder="Selecte time" type="text" id="input_endtime' + i + '"' +
            'class="form-control timepicker" onfocus="changeBorderBottomColorOnFocus(this)">' +
            '</div>' +
            '</td>' +
            '</tr>';

        $('#stops').append(stops);
    }

    let nameAndButton =
        '<tr>' +
        '<td>' +
        '<div class="md-form">' +
        '<input placeholder="Name the Route" type="text" id="routeName" ' +
        'class="form-control no-border" onfocus="changeBorderBottomColorOnFocus(this)">' +
        '</div>' +
        '</td>' +
        '<td style="text-align: center;">' +
        '<a type="text" class="btn btn-outline-success btn-md" onclick="checkFields()">Save Route</a>' +
        '</td>' +
        '</tr>';

    $('#stops').append(nameAndButton);

    // creating timePickers
    for (let t = 0; t < stop_number; t++) {
        $('#input_endtime' + t).pickatime({
            // 12 or 24 hour
            twelvehour: false,
            // Light or Dark theme
            darktheme: true
        });
    }


    function checkFields() {
        let temp_time = [];
        let flag = true;
        for (let i = 0; i < stop_number; i++) {
            let field = document.getElementById("input_endtime" + i).value;

            let hours = field.substr(0, 2);
            let minutes = field.substr(3, 2);
            // console.log(hours);
            // console.log(minutes);

            temp_time[i] = parseInt(hours, 10) * 3600 + parseInt(minutes, 10) * 60;

            if (field === "") {
                flag = false;
                document.getElementById("input_endtime" + i).style.borderBottomColor = "red";
            }
        }

        let routeName = document.getElementById("routeName").value;
        if (routeName === "") {
            flag = false;
            document.getElementById("routeName").style.borderBottomColor = "red";
        }

        // check if all fields are set
        if (flag) {
            // alert("ok");
            console.log(temp_time);

            // setting time
            let counter = 0;
            for (let s = 0; s < returnRoute.length; s++) {
                if (returnRoute[s].stop === true) {
                    returnRoute[s].time = temp_time[counter] * 1000;
                    // returnRoute[s].time = temp_time[counter];
                    counter++;
                }
            }
            console.log(returnRoute);

            console.log("new edge");
            let new_return_route = [];
            // add time stamps on none stop points
            for (let k = 0; k < returnRoute.length; k++) {
                if (returnRoute[k].stop === false) {
                    let start_time = returnRoute[k - 1].time;

                    let distance_till_next_stop = 0;
                    // Math.abs(-7.25);
                    // Math.sqrt(16);
                    distance_till_next_stop += Math.sqrt(Math.pow(returnRoute[k - 1].x - returnRoute[k].x, 2) + Math.pow(returnRoute[k - 1].y - returnRoute[k].y, 2));
                    let current_point_dist = distance_till_next_stop;

                    let temp = k;
                    while (returnRoute[temp + 1].stop === false) {
                        distance_till_next_stop += Math.sqrt(Math.pow(returnRoute[temp].x - returnRoute[temp + 1].x, 2) + Math.pow(returnRoute[temp].y - returnRoute[temp + 1].y, 2));
                        temp += 1;
                    }
                    distance_till_next_stop += Math.sqrt(Math.pow(returnRoute[temp].x - returnRoute[temp + 1].x, 2) + Math.pow(returnRoute[temp].y - returnRoute[temp + 1].y, 2));

                    let finish_time = returnRoute[temp + 1].time;

                    let dif_time = finish_time - start_time;

                    returnRoute[k].time = Math.round(dif_time / distance_till_next_stop * current_point_dist) + start_time;

                    new_return_route.push(returnRoute[k]);
                } else {
                    new_return_route.push(returnRoute[k]);
                }
            }
            console.log(new_return_route);

            send_post(routeName, new_return_route);
        }
    }

    function changeBorderBottomColorOnFocus(id) {
        document.getElementById(id.id).style.borderBottomColor = "#ced4da";
    }
</script>
</body>
</html>